# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\learning\c++\口算练习系统\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
